<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">
        <title>Document</title>
    </head>
    <body>
        <div class="container">
            <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
              <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <svg class="bi me-2" width="40" height="32" aria-hidden="true"><use xlink:href="#bootstrap"></use></svg>
                <span class="fs-4">Blockchain</span>
              </a>
        
              <ul class="nav nav-pills">
                <li class="nav-item"><a href="/client_get_blockchain" class="nav-link">Blockchain</a></li>
                <li class="nav-item"><a href="/client_servers" class="nav-link">Servers</a></li>
                <li class="nav-item"><a href="#" class="nav-link active">Accounts</a></li>
              </ul>
            </header>
          </div>

          <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center" style="width: 60%; margin-left: 20%; margin-right: 20%;">
            <div class="list-group">
                {% for i in accounts %}

                <a href="/client_account/{{encode_data(i)}}" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <img src="https://t4.ftcdn.net/jpg/03/32/59/65/360_F_332596535_lAdLhf6KzbW6PWXBWeIFTovTii1drkbT.jpg" alt="" width="32" height="32" class="rounded-circle flex-shrink-0">
                    <div class="d-flex gap-2 w-100 justify-content-between">
                        <div>
                            <h6 class="mb-0">{{i[43:-37] if i!="0" else "0"}}</h6>
                            <p class="mb-0 opacity-75">Рахунок: {{accounts[i]}}</p> 
                        </div>
                    </div>
                </a>

                {% endfor %}
            </div>
        </div>

          <script src="https://cdn.jsdelivr.net/npm/xmlhttprequest@1.8.0/lib/XMLHttpRequest.min.js"></script>
          <script src="{{ url_for('static', filename='js/accounts.js') }}"></script>
    </body>
</html>